.row{
    padding: 25px;
	box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
}
p{
	color:white;
}

div {
    background-color: rgb(0, 0, 0) ;
    text-align: center;
	
}

/* etiqueta nombre */



#fotodeperfil{
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
}

@media (min-width:576px) {
 #fotodeperfil{
    position:absolute;
    width:12%;
    border-radius: 100%;
	box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
	1px 2px 4px 0px rgba(0,255,255,0.7),
	2px 4px 8px 0px rgba(0,255,255,0.7),
	2px 4px 16px 0px rgba(0,255,255,0.7);
    left: 3%;
    top: 550px;
}
#acerca{
    font-weight: bold;
    color: #50C0FF;
	text-shadow:
		0 0 5px rgb(13, 124, 171),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);

}
#nombre{
    font-weight: bold;
    margin-top: 0%;
    color: #50C0FF;
	margin-top: 30%;
	text-shadow:
		0 0 5px rgb(13, 124, 171),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}



}
 /* MENOS DE 575PX*/
@media(max-width:575px) {
    #fotodeperfil {
       position:absolute;
       width:40%;
       border-radius: 100%;
	   box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
	   1px 2px 4px 0px rgba(0,255,255,0.7),
	   2px 4px 8px 0px rgba(0,255,255,0.7),
	   2px 4px 16px 0px rgba(0,255,255,0.7);
       left: 30%;
       top: 650px;
   }
   #acerca{

    font-weight: bold;
    margin-top: 0%;
    color: #50C0FF;
	text-shadow:
		0 0 5px rgb(13, 124, 171),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
   }
   #nombre{
    font-weight: bold;
    color: #50C0FF;
	margin-top: 19%;
	text-shadow:
		0 0 5px rgb(13, 124, 171),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}

 }


 