

<div class="row">
    <div class="col-xs-12 col-sm-2 col col-md-2 col-lg-2">
        <img src="../../../assets/yo.jpg" class="img-fluid" id="fotodeperfil" />
    </div>

    <div class="col-xs-12 col-sm-2 col col-md-2 col-lg-2">
     <h2 id="nombre">Bautista Nicolas Armani</h2>
     <p> Full Stack Developer Junior</p>
    </div>

     <div class="col-xs-12 col-sm-2 col col-md-10 col-lg-10">
        <span>

            <h3 id="acerca">Acerca de mi</h3>
            <p>Lorem  Deleniti alias a sequi minus laboriosam fuga adipisci.</p>
        </span>

     </div>
</div>