<div class="row">
    <h1 id="neon"> Hard & Soft Skills</h1>

    
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- HTML -->
        <circle-progress 
        	[subtitle]="'HTML'"
            [subtitleFontSize]="'25px'"
            [subtitleColor]="'blue'"
            [subtitleFontWeight]="'50'"

            [showUnits]="false"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FC490B'"
            [innerStrokeColor]="'#FAFAFA'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>

  <h3 id="neon"> HTML</h3>
  

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- CSS -->
        <circle-progress 
        	[title]="'CSS'"
            [showTitle]="true"
            [showUnits]="false"
            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2196F3'"
            [innerStrokeColor]="'#FAFAFA'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> CSS</h3>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- JS  -->
        <circle-progress 
        	[title]="'JS'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="30"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FFDF00'"
            [innerStrokeColor]="'#FAFAFA'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> JS</h3>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- Bootstrap -->
        <circle-progress 
        	[title]="'Bootstrap'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/bootstrap.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="40"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#673AB7'"
            [innerStrokeColor]="'#FAFAFA'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Bootstrap</h3>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- csharp -->
        <circle-progress 
        	[title]="'csharp'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/csharp.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="30"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#782379'"
            [innerStrokeColor]="'#FAFAFA'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Csharp</h3>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- gobstone -->
        <circle-progress 
        	[title]="'gobstone'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/gobstone.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#8E0000'"
            [innerStrokeColor]="'#B71D1D'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Gobstone</h3>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- mongodb -->
        <circle-progress 
        	[title]="'mongodb'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/mongodb.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4CAF50'"
            [innerStrokeColor]="'#5D4037'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> MongoDb</h3>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- nodejs -->
        <circle-progress 
        	[title]="'nodejs'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/nodejs.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#6DA75D'"
            [innerStrokeColor]="'#55A344'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> NodeJs</h3>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- sql server -->
        <circle-progress 
        	[title]="'sql server'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/sqlserver.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#B04134'"
            [innerStrokeColor]="'#CDCDCE'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Sql Server</h3>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- scratch -->
        <circle-progress 
        	[title]="'scratch'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/scratch.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="45"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#12ADF6'"
            [innerStrokeColor]="'#FDFDFD'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Scratch</h3>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- pseint -->
        <circle-progress 
        	[title]="'pseint'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/pseint1.ico'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="95"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FFFFC6'"
            [innerStrokeColor]="'#0043A1'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> PseInt</h3>
    </div>
   

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- ruby -->
        <circle-progress 
        	[title]="'ruby'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/ruby.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#950C10'"
            [innerStrokeColor]="'#EF0E13'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Ruby</h3>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- typescript -->
        <circle-progress 
        	[title]="'typescript'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/typescript.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1976D2'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> TypeScript</h3>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- Github -->
        <circle-progress 
        	[title]="'Github'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/Github-icon-2.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#212121'"
            [innerStrokeColor]="'#212121'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Github</h3>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- ingles -->
        <circle-progress 
        	[title]="'ingles'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/english.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#F4F4F4'"
            [innerStrokeColor]="'#F4F4F4'"
            [animation]="true"
            [animationDuration]="1500"
  ></circle-progress>
  <h3 id="neon"> Ingles</h3>
    </div>



</div>